*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* #signup{
    background-color:rgb(18, 203, 209);
    position: relative;
    height:100vh;
} */

#login{
    background-color:rgb(18, 203, 209);
    position: relative;
    height:100vh;
}
a{
    color:#fff;
}
a:hover{
    text-decoration: none;

}
#main-page{
    position:relative;
    height:100vh;
}
.text-content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.text-content h1{
    font-size:60px;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.custom{
    padding:10px 100px;
    font-size:30px;
    margin-top:20px;
}
marquee{
    color:#fff;
    font-size:25px;
}
.navbar-brand{
    text-transform: capitalize;
}
#signup{
    background-image: url(../picThis.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    height:100vh;
}
.signup-page{
    background-color: rgba(73, 56, 56, 0.582);
}
.bg-primarys{
    background-color: rgba(59, 39, 39, 0.603);
}
.navigation{
    position:absolute;
    top:0;
    left:0;
}
#pageLogo{
    font-size:20px;
    padding:5px;
}
#countShow{
    font-size: 50px;
}
.contentShowHide{
    position:relative;
}
.bt-cross{
    position:absolute;
    top:0;
    right:0;
}
.menuse{
    font-size: 25px;
}
#pageLogo{
    font-size: 25px;
    font-weight: 600;
}
.customSize{
    width:50px;
    height:50px;
    border-radius:100%;
}
#image{
    width: 100%;
    margin:auto;
}
#image img{
    width:200px;
    height:200px;
}
.help{
    font-size: 25px;
}
.image img{
    width:80%;
    height:auto;
}
hr{
    background-color:#fff;
}