*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* #signup{
    background-color:rgb(18, 203, 209);
    position: relative;
    height:100vh;
} */

#login{
    background-color:rgb(18, 203, 209);
    position: relative;
    height:100vh;
}
a{
    color:#fff;
}
a:hover{
    text-decoration: none;

}
#main-page{
    position:relative;
    height:100vh;
}
.text-content{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.text-content h1{
    font-size:60px;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.custom{
    padding:10px 100px;
    font-size:30px;
    margin-top:20px;
}
marquee{
    color:#fff;
    font-size:25px;
}
.navbar-brand{
    text-transform: capitalize;
}
#signup{
    background-image: url(../picThis.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    height:100vh;
}
.signup-page{
    background-color: rgba(73, 56, 56, 0.582);
}
.bg-primarys{
    background-color: rgba(59, 39, 39, 0.603);
}
.navigation{
    position:absolute;
    top:0;
    left:0;
}
#pageLogo{
    font-size:20px;
    padding:5px;
}
#countShow{
    font-size: 50px;
}
.contentShowHide{
    position:relative;
}
.bt-cross{
    position:absolute;
    top:0;
    right:0;
}
.menuse{
    font-size: 25px;
}
#pageLogo{
    font-size: 25px;
    font-weight: 600;
}
.customSize{
    width:50px;
    height:50px;
    border-radius:100%;
}
#image{
    width: 100%;
    margin:auto;
}
#image img{
    width:200px;
    height:200px;
}
.help{
    font-size: 25px;
}
.image img{
    width:80%;
    height:auto;
}
hr{
    background-color:#fff;
}
.link a{
    text-align:center;
    display: inline-block;
    font-size: 20px;
    border:2px solid #fff;
    padding:5px;
    width:40px;
    height:40px;
    border-radius: 50%;
    margin: 5px;
}
.link a i{
    text-align:center;
    display:block;
    margin-top:3px;
}
.link a:hover{
    background: #fff;
    color:#000;
    transition: 0.5s;
    box-sizing: border-box;
}
#timeShow{
    font-size:20px;
    font-weight: bold;
    padding:10px;
    color:#fff;
    display: block;
}
#page-all{
    position: relative;
}
.dropdown-menus{
    position:absolute;
    top:10%;
    right:0;
    background:#007bff;
    padding:5px;
   text-align: left;
   margin-top:70px;
   border-radius:5px;
   z-index: 200;
}
.dropdown-menus a{
    color:aliceblue;
}
.dropdown-menus i{
    margin-right:10px;
}
#quize-con{
    position:relative;
    height:60vh;
    padding:10px;
    width:70%;
    margin:auto;
    background:#007bff;
    border-radius:5px;
}
.main-con{
    position:absolute;
    width:70%;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background:#fff;
    padding:20px;
    border-radius:5px;

}
.time-left{
    position:absolute;
    top:0;
    right:0;
}



.main_pre{
    position:relative;
    width:100%;
    height:100vh;
    position:fixed;
    background:#fff;
    z-index: 9999;
}
.loader{
    position:absolute;
    top : 30%;
}

/* 
 css spinner loading
*/

.loader,
.loader:before,
.loader:after {
  background: #007bff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color:#007bff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}